
.tabs-container {
    border: 1px solid #cccccc;
    display: flex;
}

.tabs-sidebar {
    width: 125px;
    flex-shrink: 0;
    background: #cccccc;
}

.tabs-btn {
    display: block;
    padding: 10px;
    background: #eeeeee;
    border: none;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.tabs-btn:active {
    background: #dddddd;
}

/* Every button that is not the last one will have a border */
.tabs-btn:not(:last-of-type) {
    border-bottom: 1px solid #dddddd;
}

.tabs-button-active {
    font-weight: bold;
    color: #009879;
    border-right: 2px solid #009879;
    background: #dddddd;
}


.tabs_content {
    padding: 15px;
    font-size: 0.8rem;
    display: none;
}

.tabs_content-active {
    display: block;
}

.tabs_content > :first-child {
    margin-top: 0;
}