
.tabs-container {
    border: 1px solid #cccccc;
    display: flex;
}

.tabs-sidebar {
    width: 125px;
    flex-shrink: 0;
    background: #cccccc;
}

.tabs-btn {
    display: block;
    padding: 10px;
    background: #eeeeee;
    border: none;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.tabs-btn:active {
    background: #dddddd;
}

/* Every button that is not the last one will have a border */
.tabs-btn:not(:last-of-type) {
    border-bottom: 1px solid #dddddd;
}

.tabs_button-active {

}